<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Incidentes</title>
    <link rel="stylesheet" href="resources/CSS/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="bodyAdmLiviano">

<!--    NAVBAR-->

<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <a class="navbar-brand" href="http://localhost:4567/home.html">Diegote TPA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropDown" aria-controls="navbarNavDropDown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropDown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:4567/listado_incidentes.html">Listado de Incidentes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:4567/apertura_incidente.html">Incidentes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:4567/carga_datos.html">Carga masiva de Datos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:4567/administracion_usuario.html">Administración de Usuario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:4567/ranking_incidentes.html">Ranking de Incidentes</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Perfiles
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="navbar">
                    <a v-for="perfil in perfiles" :key="perfil.idPerfil" class="dropdown-item" @click="guardarPerfilSeleccionado(perfil)">
                        {{ perfil.nombrePerfil }}
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<form class="incident-form" id="incidentesForm">
    <!-- Aquí debería ir tu navbar.html o contenido de la barra de navegación -->
    <!-- <yus-html src="/navbar.html"></yus-html> -->
    <h1 class="h1IncidLiv">Listado de Incidentes</h1>
    <div>
        <h3 class="mt-3 mb-2" id="h3IncidLiv">Comunidades disponibles:</h3>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Comunidad ID</th>
                <th scope="col">Comunidad Nombre</th>
                <th scope="col">Seleccionar</th>
            </tr>
            </thead>
            <tbody>
            {{#each comunidad}}
            <tr>
                <td>{{id_comunidad}}</td>
                <td>{{nombre}}</td>
                <td>
                    <div class="form-check">
                        <input type="radio" id="comunidad" name="comunidad" onclick="elegirComunidad({{id_comunidad}})"/>
                    </div>
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

    <!-- Agrega la sección para mostrar los incidentes según la comunidad seleccionada -->
    
    <div id="filtroIncidentesContainer"></div>
    
</form>

    <!--    NAVBAR      -->
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


    <script src="resources/JS/incidentesLiviano.js"></script>
</body>
</html>
