<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rankings</title>
    <link rel="stylesheet" href="resources/CSS/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="bodyAdmLiviano">
<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <a class="navbar-brand" href="http://localhost:4567/home.html">Diegote TPA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropDown" aria-controls="navbarNavDropDown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropDown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:4567/incidentesLiviano">Consulta de Incidentes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:4567/cargaMasivaLiviano.html">Carga masiva de Datos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:4567/administrarUsuarioLiviano">Administración de Usuario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:4567/rankingsLiviano">Ranking de Incidentes</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Perfiles
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="navbar">
                    <a v-for="perfil in perfiles" :key="perfil.idPerfil" class="dropdown-item" @click="guardarPerfilSeleccionado(perfil)">
                        {{ perfil.nombrePerfil }}
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<form class="incident-form">
    <h1>Rankings de Incidentes</h1>

    {{#each lista_rankings}}
        <h4 id="h4ranking">Ranking: {{tipo_ranking}}</h4>
        <table class="table centered-table">
            <thead class="bg-danger" style="color: white;">
            <tr>
                <th>Puesto</th>
                <th>Nombre del Ganador</th>
            </tr>
            </thead>
            <tbody>
            {{#each ranking}}
                <tr>
                    <td>{{id_ranking}}</td>
                    <td>{{entidad.nombre}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    {{/each}}
</form>
</body>
</html>