<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diegote TPA</title>
            <!--ESTILO DE CCS-->
    <link rel="stylesheet" href="resources/CSS/styles.css">
            <!--BOOSTRAP-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

</head>
<body>
    <div id= "appVue" class="content-container" >
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Titulo</h1>
            <p class="lead text-body-secondary">Ejemplo de texto simple, descripcion del proyecto</p>
        </div>
        <div class="login-form">
            <h2 class="h3 mb-3 fw-normal">Iniciar Sesión</h2>
            <input placeholder="Nombre de Usuario" v-model="username"  id="username" required>
            <input placeholder="Contraseña" v-model="password" type="password" id="password" required>
            <a class="mt-1 w-100 py-2 btn btn-danger" v-on:click="login">Iniciar Sesión</a>
            <p v-if="mensaje" class="error-message">{{ mensaje }}</p>
        </div>
    </div>
            <!--SCRIPTS -->
    <script src="resources/JS/script.js"></script>
    <script src="resources/JS/login.js"></script>
</body>
</html>
